{% extends 'base.html' %}
{% load static %}

{% block static %}

<link href="/static/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
{% endblock%}


{% block body %}

<div class="row">
<div class="col-sm-8">
    <div id="formGrid" class="mb-5">
        <h4>PERSONAL DETAILS</h4>
        <!-- <p>More complex forms can be built using bootstrap grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options.</p> -->
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <fieldset class="form-group">
                        <div class="row">
                            <label class="col-form-label col-sm-2 pt-0">Gender</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Date of Birth</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="datepicker-default" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Identifiction No.</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Business sector</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Tin</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Digital Address</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Main activity of the business</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Place of the business</label>
                        <div class="col-sm-10">
                            <input type="name" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Size of Business in FFB/CPO Volumes</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Number of Employees</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Why do you want to join OPDAG?</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock%}



{% block js %}
<script src="/static/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="5d73162e715bd84736b2ef52-text/javascript"></script>
<script src="/static/assets/plugins/moment/min/moment.min.js" type="5d73162e715bd84736b2ef52-text/javascript"></script>
{% endblock%}